JWT__PUBLIC=./certs/jwt_public.pem
JWT__PRIVATE=./certs/jwt_private.pem
JWT__ALGORITHM=RS256
JWT__ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT__REFRESH_TOKEN_EXPIRE_DAYS=5

JWT__OPENID__BASE_URL=https://steamcommunity.com/openid/login
JWT__OPENID__API_KEY=GGSG43932G249G57829504G2043G25G82204G