JWT_PUBLIC=./certs/jwt_public.pem
JWT_PRIVATE=./certs/jwt_private.pem
JWT_ALGORITHM=RS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=5

JWT_OPENID__BASE_URL=https://steamcommunity.com/openid/login
JWT_OPENID__API_KEY=GGSG43932G249G57829504G2043G25G82204G

HTTPCORS_URLS=["http://localhost:5173"]